/* Rest of your CSS */
#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.loading-content {
  text-align: center;
}

.loading-img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 1.5em;
  color: white;
}
