/* Add these styles to your existing CSS */

.loading-content p {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.tab {
  background: none;
  border: none;
  cursor: pointer;
}

.tab img {
  width: 30px; /* Adjust as needed */
}

.tab.active img {
  filter: brightness(1.2); /* Makes the active tab icon glow */
}
