@font-face {
  font-family: 'Nebulica'; /* Name you want to use for this font */
  src: url('Nebulica-Regular.ttf') format('truetype'); /* Direct path to your .ttf file */
  font-weight: normal; /* Adjust if your font has different weights */
  font-style: normal; /* Adjust if your font has different styles */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nebulica', Arial, sans-serif; /* Use the custom font */
  background-color: #133A2A;
  color: white;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #133A2A;
  color: white;
}

.loading-content p {
  color: white;
  text-align: center;
  margin-top: 20px;
}

#tutorial-container {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #133A2A;
}

.tutorial-img {
  max-width: 80%;
  height: auto;
  margin-top: 50px;
  animation: fadeInScale 1.2s ease forwards, bounce 1.5s ease infinite; /* Combined animations */
}

/* Keyframes for fade in and scale effect */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Keyframes for bounce effect */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Bounce height */
  }
  60% {
    transform: translateY(-10px);
  }
}

h1 {
  margin-top: 20px;
  font-size: 2em;
}

p {
  font-size: 1.2em;
  margin: 20px 0;
}

.continue-button {
  padding: 15px 125px;
  background-color: #F2C94C;
  color: black;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
}

.continue-button:hover {
  background-color: #F2C94D;
}

#game-container {
  display: none;
  background-color: #133A2A;
  color: white;
  text-align: center;
  padding: 20px;
}

.coin-balance h2 {
  margin-top: 50px;
  font-size: 1.5em;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.tab {
  background: none;
  border: none;
  cursor: pointer;
}

.tab img {
  width: 30px; /* Adjust as needed */
}

.tab.active img {
  filter: brightness(1.2); /* Makes the active tab icon glow */
}
